<div class = "grid-container modal" *ngIf="user">
    <div class="item1" style="align-items: center;"><img class="border" *ngIf="imgUrl" [src] = "imgUrl"> <img class="border" *ngIf="!imgUrl" src="assets/default-user-image.png"></div>
    <p class="itemnext">User's name: {{user.userName}}</p>
    <p class="itemnext">E-mail address: {{user.email}}</p>
    <p class="itemnext">Role: {{user.userType}}</p>
</div>

<div *ngIf="announcements && announcements.length > 0" class="modal">
    <h2>User announcements:</h2>
    <div *ngFor="let ann of announcements" class="announcemenntContainer">
        <a style = "width: 200px;" class="link" [routerLink]="['/announcement', ann.annoucementId]">{{ann.annoucementName}}</a>
        <button (click)="editAnnouncement(ann.annoucementId!)">Edit</button>
        <button (click)="deleteAnnouncement(ann.annoucementId!)">Delete</button>
    </div>
</div>

<div class = "container">
    <button class = "item button-1" (click)="updateUser(name, 'nazwa'); name = ''">UPDATE NAME</button>
    <div class = "item item-right">
        <input class = "input-text" type = "text" placeholder = "Input your name" [(ngModel)] = "name">
        <label class = "label-error" [ngStyle]="{ 'display': nameError ? 'display' : 'inline' }">{{nameError}}</label>
    </div>

    <button class = "item button-1" (click)="updateUser(mail, 'mail')">UPDATE E-MAIL</button>
    <div class = "item item-right">
        <input class = "input-text" type = "text" placeholder = "Input new e-mail address" [(ngModel)] = "mail">
        <label class = "label-error" [ngStyle]="{ 'display': mailError ? 'display' : 'inline' }">{{mailError}}</label>
    </div>

    <button class = "item button-1" (click)="updatePassword()">UPDATE PASSWORD</button>
    <div class = "item item-right">
        <input class = "input-text" type = "text" placeholder = "Input new password" [(ngModel)] = "password">
        <input class = "input-text" type = "text" placeholder = "Repeat new password" [(ngModel)] = "password2">
        <label class = "label-error" [ngStyle]="{ 'display': passwordError ? 'display' : 'inline' }">{{passwordError}}</label>
    </div>

    <button class = "item button-1" (click)="updateUser(type, 'typ'); type = ''">UPDATE TYPE</button>
    <div class = "item item-right">
        <label>I am: </label>
        <input type="radio" name="type" value="Tutor" [(ngModel)]="type" />
        <label for="Korepetytorem">Tutor</label>

        <input type="radio" name="type" value="Student" [(ngModel)]="type" />
        <label for="Uczniem">Student</label>
        <label class = "label-error" [ngStyle]="{ 'display': typeError ? 'display' : 'inline' }">{{typeError}}</label>
    </div>

    <button class = "item button-1" (click)="updateUser(image, 'obraz')">UPDATE IMAGE</button>
    <div class = "item item-right">
        <input type = "file" accept=".jpeg, .jpg, .png, .bmp" multiple = "false" (change) = "onFileSelected($event)">
        <label class = "label-error" [ngStyle]="{ 'display': imageError ? 'display' : 'inline' }">{{imageError}}</label>
    </div>

    <button class = "item button-1" (click)="openDialog()" style="margin-top: 20px;">ADD ANNOUNCEMENT</button>
</div>
