@import url('../../../styles.css');

img {
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 240px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Pierwsza kolumna dostosowuje się do zawartości, druga kolumna zajmuje resztę dostępnego miejsca */
    gap: 10px;
    padding: 10px;
}

.grid-container > p {
    padding-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.item1 {
    grid-column: 1; /* Pierwsza kolumna */
    grid-row: 1 / span 3; /* Wysokość trzech wierszy */
}
  
.itemnext {
    grid-column: 2; /* Druga kolumna */
    flex: 1;
    margin-left: 10px;
}

.border {
    border-style: solid;
    border-color: gray;
    border-width: 3px;
    border-radius: 100%;
    background-color:rgba(211, 208, 208, 0.5)
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 kolumny o równym podziale */
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px; /* Odstęp między elementami */
    grid-auto-rows: 60px;
}

.item {
    padding: 10px;
}

.item-right {
    align-items: right;
}

.button-1 {
    width: 200px;
    height: 50px;
}

.input-text {
    height: 30px;
    width: 200px;
    margin-right: 5px;
}

.label-error {
    padding-left: 10px;
    color: red;
}

.announcemenntContainer {
    background-color: rgba(211, 208, 208, 0.5);
    border-radius: 15px;
    padding: 5px 20px;
    margin: 5px;
}

.link {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
}