<div class = "grid-container modal" *ngIf="user">
    <div class="item1" style="align-items: center;"><img class="border" *ngIf="imgUrl" [src] = "imgUrl"> <img class="imageAccount" *ngIf="!imgUrl" src="assets/default-user-image.png"></div>
    <p class="itemnext">Nazwa użytkownika: {{user.userName}}</p>
    <p class="itemnext">Adres e-mail: {{user.email}}</p>
    <p class="itemnext">{{user.userType}}</p>
</div>

<div class = "container">
    <button class = "item button-1" (click)="updateUser(name, 'nazwa'); name = ''">AKTUALIZUJ NAZWE</button>
    <input class = "item item-right input-text" type = "text" placeholder = "Wprowadź nową nazwę" [(ngModel)] = "name">

    <button class = "item button-1" (click)="updateUser(mail, 'mail')">AKTUALIZUJ MAIL</button>
    <input class = "item item-right input-text" type = "text" placeholder = "Wprowadź nowy adres e-mail" [(ngModel)] = "mail">

    <button class = "item button-1" (click)="updateUser(type, 'typ'); type = ''">AKTUALIZUJ TYP</button>
    <input style = "display: none;"class = "item item-right input-text" type = "text" placeholder = "Wprowadź nowy typ" [(ngModel)] = "type">
    <div class = "item item-right">
        <label>Jestem: </label>
        <input type="radio" name="type" value="Korepetytor" [(ngModel)]="type" />
        <label for="Korepetytorem">Korepetytorem</label>

        <input type="radio" name="type" value="Uczeń" [(ngModel)]="type" />
        <label for="option2">Uczniem</label>
    </div>

    <button class = "item button-1" (click)="updateUser(image, 'obraz')">AKTUALIZUJ OBRAZ</button>
    <input class = "item item-right" type = "file" accept=".jpeg, .jpg, .png, .bmp" multiple = "false" max="65536" (change) = "onFileSelected($event)">
</div>