.modal {
    background-color: rgba(248, 242, 242, 0.945);;
}

.commmentTitle{
    display: flex;
    justify-content: space-between;
}

.descriptionComment{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}