<div class="header">
  <section class="header-web">
    <img class="img-logo" routerLink="/main" src="../assets/tutor.png">
    <div style="margin-top: 10px;" *ngIf="!user.userName">
      <button routerLink="/register">Register</button>
      <button routerLink="/login">Login</button>
    </div>
    <div style="margin-top: 10px;" class="logged" *ngIf="user.userName">
      <h4><a class="link" [routerLink]="['/userInfo']">Logged: {{user.userName}}</a></h4>
      <button (click)="logout()">Logout</button>
    </div>
  </section>
</div>

<div class="main-page">
  <router-outlet></router-outlet>
</div>
