@import url('../styles.css');

html, body {
    /* margin: 0px !important;
    padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	font-family: sans-serif; */
}
/* input, select{
	padding: 5px;
	font-size: 27px;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 21px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: 0px 0px 5px rgba(66,66,66,.75);
	height: 50px;
	margin: 5px;
}
input:focus {
	outline:none;
} */
.header{
    background-color: white;
    display: block;
	height: 75px;
	border-bottom: #9e9c9c 1px solid;
	padding-top: 5px;
}

.header-web {
	width: 1200px;
	display: flex;
	flex-direction:row;
	margin: 0 auto;
	justify-content: space-between;
}

.main-page {
	width: 1000px;
	margin: 0 auto;
}

.img-logo {
	width: 150px;
	height: 75px;
    cursor: pointer;
}
    
button {
	background-color:#a8a8a8;
	border-radius:28px;
	border: 0;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:13px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin: 5px;
	max-width: 200px;
}
button:hover {
	background-color:#737373;
}
button:active {
	position:relative;
	top:1px;
}
