.modal {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 50px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

button {
    margin-right: auto;
}
