<div class = "modal">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput>
        <mat-label>Email</mat-label>
        <input matInput>

      </mat-form-field>
    <form class="modal-content">
        <label>Username</label>
        <input placeholder="Name">
        <label>Email</label>
        <input placeholder="Email">
        <label>Password:</label>
        <input type="password" placeholder="Password">
        <label>Password:</label>
        <input type="password" placeholder="Repeat Password">
        <label>I am a</label>
        <select>
            <option value=""> -- Select -- </option>
            <option value="10">Tutor</option>
            <option value="11">Student/Parent</option>
        </select>
    </form>
    <button>Register</button>
</div>
