<div class = "modal">
    <div class="modal-content">
        <h2>Sign up with email:</h2>
        <h4>Username:</h4>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
        <h4>Email:</h4>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <h4>Password:</h4>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <h4>Repeat Password:</h4>
        <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input matInput>
        </mat-form-field>
        <h4>I am a:</h4>
        <mat-form-field>
            <mat-select>
                <mat-option value=""> -- Select -- </mat-option>
                <mat-option value="10">Tutor</mat-option>
                <mat-option value="11">Student/Parent</mat-option>
            </mat-select>
        </mat-form-field>
        <button>Register</button>
    </div>
</div>
