html, body { 
    width: 100%;
    height: 100%;
    background-color: #ececec;
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.modal {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 50px;
    background-color: rgba(211, 208, 208, 0.5);
    margin-top: 30px;
    border-radius: 15px;
}
.imageAccount{
    width: 90px;
    height: 90px;
}